// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table.table-striped.table-bordered {

  th {
  }

  th, tbody td {
    text-align: center !important;
  }
}
body{
  background-image: url(background1.jpg);
}
#buttonpair
{
  margin-left: 185px;
}
#admin_login
{
  .form-control
  {
    width: 30%;
  }
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 450px;
}
#admin_index
{
  .btn.btn
  {
    margin-left: 94%;
  }
}
#admin_login
{
  .alert.alert
  {
    width: 30%;
    margin-top: 10px;
  }
}