// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#calendar
{
    width: 70%;
    height: 65%;
    margin: auto;
    background-color: white;
}
.fc-toolbar.fc-header-toolbar.fc-header-toolbar
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.fc-unthemed td.fc-today.fc-today
{
  color: red;
}
#homeindex{ background-image: url(background.jpg)
}
